{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<div>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>
        <img src="static/logo_car.png" alt="logo_car">
    </body>
</div>
</html>

<style>
    h1 {
        color: rgb( 255, 215, 0);
        position: fixed;
        margin: 500px;
    }

    img {
        padding: 93px;
        size: 150%;
        margin-left: 400px;
    }
</style>
{% endblock %}